.form-answer { 
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: pink;
  border: 3px solid rgb(237, 163, 176);
}

.form-answer.animate {
  animation: shake 1s alternate;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px -10px #d581ac;
  }
  50% {
    box-shadow: 0 0 10px 10px #bd5389;
  }
  100% {
    box-shadow: 0 0 10px -10px #d581ac;
  }
}

.form-answer.correct {
  background-color: yellow;
  animation: glow 3s alternate;

}


.form-answer:nth-of-type(1).external {
  top: 26%;
  left: 6%;
}


.form-answer:nth-of-type(2) {
  top: 44.5%;
  left: 6%;
}

.form-answer:nth-of-type(3) {
  top: 66%;
  left: 5%;
}

.form-answer:nth-of-type(4) {
  top: 83%;
  left: 69%;
}

.form-answer:nth-of-type(5) {
  top: 54%;
  left: 69%;
}

.form-answer:nth-of-type(6) {
  top: 41%;
  left: 68%;
}

.form-answer:nth-of-type(7) {
  top: 29%;
  left: 69%;
}

.form-answer:nth-of-type(8) {
  top: 2%;
  left: 68%;
}

/* **** INTERNAL SYSTEM **** */

.form-answer:nth-of-type(1).internal {
  top: 8%;
  left: 2%;
}

.form-answer:nth-of-type(2).internal {
  top: 22%;
  left: 2%;
}

.form-answer:nth-of-type(3).internal {
  top: 39%;
  left: 21%;
}

.form-answer:nth-of-type(4).internal {
  top: 53%;
  left: 18%;
}

.form-answer:nth-of-type(5).internal {
  top: 69%;
  left: 22%;
}

.form-answer:nth-of-type(6).internal {
  top: 90%;
  left: 20%;
}